# Assignment #2: Data Exploration

In this assignment, you will demonstrate your knowledge of the Python and Pandas skills we've learned so far. These include:

- Getting an overview of your data
- Extracting columns
- Removing duplicates from your data
- Creating a subset of your data by matching a string
- Getting a random sample of your data
- Sorting your data 
- Getting fundamental statistical information of a series, such as the mean and median

You will not need to formulate or answer a research question for this assignment. You simply need to demonstrate your ability to perform specific operations on the data set you have selected. In the next assignment, your midterm, you will create a narrative exploration of the data using many of the same methods, but in such a way as to use narrative along with data analysis to answer a research question.

You may use the data set you imported in assignment #1, or you may choose another data set. That means that you can reuse code you wrote in Assignment #1 to import the data.

In the below notebook, I will ask for you to perform a task. Each task will be followed by one or more blank code cells. Use as many cells as you need to complete the task. If you know some other way to complete the task with Python and/or Pandas that is not the way we learned in class, that is also acceptable. Feel free to use Google searches to refresh your memory as to how to perform each task. You will also likely wish to consult the class notebooks, which can be found in [our class repository on GitHub](https://github.com/sha256rma/foundations-of-data-science).

If your data set does not have a needed form of data for a task, write code that would perform the task if a column with that data existed, and provide an explanation as a comment or markdown cell.

You may receive partial credit for some incomplete or incorrect answers. Please feel free to add comments about your thought process, which will make it more likely that you will receive partial credit.

The last cell is a bonus. You will not be penalized for not attempting or completing it.

-----

Import Pandas and read your data in as a data frame. Assign the data frame to a variable, such as `df`.

In [5]:
import pandas as pd

In [7]:
df = pd.read_excel("/Users/lucaslarsen/Documents/CCNY Python Portfolio/foundations-of-data-science/assignments/greenbookUS.xlsx")

Make the data frame visible by placing the data frame variable in a cell by itself.

In [9]:
df

,Fiscal Year,Region,Country,Assistance Category,Publication Row,Funding Agency,Funding Account Name,Obligations (Historical Dollars),Obligations (Constant Dollars)
0,1946.0,Middle East and North Africa,Egypt,Economic,Inactive Programs,Unknown - Historical Greenbook,INACTIVE - US Surplus Property,9.300000e+06,1.000840e+08
1,1946.0,Middle East and North Africa,Egypt,Economic,Inactive Programs,Unknown - Historical Greenbook,INACTIVE - UN Relif and Rehab Agency (UNRRA),3.000000e+05,3.228517e+06
2,1946.0,Middle East and North Africa,Iran,Economic,Inactive Programs,Unknown - Historical Greenbook,INACTIVE - US Surplus Property,3.300000e+06,3.551368e+07
3,1946.0,Middle East and North Africa,Lebanon,Economic,Inactive Programs,Unknown - Historical Greenbook,INACTIVE - US Surplus Property,1.600000e+06,1.721876e+07
4,1946.0,Middle East and North Africa,Saudi Arabia,Economic,Inactive Programs,Department of the Treasury,INACTIVE - Lend Lease Silver,2.400000e+06,2.582813e+07
...,...,...,...,...,...,...,...,...,...
72632,2019.0,World,World (not specified),Military,Foreign Military Financing,Department of State,Foreign Military Financing Program,1.976689e+06,1.976689e+06
72633,2019.0,World,World (not specified),Military,International Military Education and Training,Department of State,International Military Education and Training,3.635807e+06,3.635807e+06
72634,2019.0,World,World (not specified),Military,Peace Keeping Operations,Department of State,Peace Keeping Operations,1.147500e+08,1.147500e+08
72635,2019.0,World,World (not specified),Military,Other Military Assistance,Department of Defense,"Operation and Maintenance, Air Force",3.000000e+06,3.000000e+06
72636,2019.0,World,World (not specified),Military,Other Military Assistance,Department of Defense,"Operation and Maintenance, Defense-Wide",3.979332e+07,3.979332e+07

What columns are in your data frame? Use a function or method that shows all the columns.

In [11]:
data_columns=df.columns

In [13]:
data_columns

Index(['Fiscal Year', 'Region', 'Country', 'Assistance Category',
       'Publication Row', 'Funding Agency', 'Funding Account Name',
       'Obligations (Historical Dollars)', 'Obligations (Constant Dollars)'],
      dtype='object')

Write Python code to output the number of rows in your data frame.

In [15]:
len(df.index)

72637

Write code to output a column from your data frame as a series. (Extract a column.)

In [18]:
first_series=pd.Series(df.Country)

In [20]:
print(first_series)

0                        Egypt
1                        Egypt
2                         Iran
3                      Lebanon
4                 Saudi Arabia
                 ...
72632    World (not specified)
72633    World (not specified)
72634    World (not specified)
72635    World (not specified)
72636    World (not specified)
Name: Country, Length: 72637, dtype: object

### Read the example below to **count** duplicates based on specific columns (e.g., 'Name' and 'Age')

Check duplicates based on 'Name' and 'Age' columns (modify the subset for your own columns):

`duplicates_subset = df.duplicated(subset=['Name', 'Age'])`

Count the number of duplicates in the subset:

`num_duplicates_subset = duplicates_subset.sum()`

Display no. of duplicate rows based on your column(s):

`print(f"\nNumber of duplicate rows based on 'Name' and 'Age': {num_duplicates_subset}")`

After reading the above, modify the code snippets to check for duplicate columns in your own data frame

In [30]:
duplicates_subset = df.duplicated(subset=['Country', 'Assistance Category', 'Fiscal Year'])

In [32]:
num_duplicates_subset = duplicates_subset.sum()

In [38]:
print(f"\nNumber of duplicate rows based on 'Country' and 'Assistance Category' and 'Fiscal Year': {num_duplicates_subset}")

Number of duplicate rows based on 'Country' and 'Assistance Category' and 'Fiscal Year': 56721

If any duplicates exist within a column, remove them with the `.drop_duplicates()` function

In [58]:
df.drop_duplicates()

,Fiscal Year,Region,Country,Assistance Category,Publication Row,Funding Agency,Funding Account Name,Obligations (Historical Dollars),Obligations (Constant Dollars)
0,1946.0,Middle East and North Africa,Egypt,Economic,Inactive Programs,Unknown - Historical Greenbook,INACTIVE - US Surplus Property,9.300000e+06,1.000840e+08
1,1946.0,Middle East and North Africa,Egypt,Economic,Inactive Programs,Unknown - Historical Greenbook,INACTIVE - UN Relif and Rehab Agency (UNRRA),3.000000e+05,3.228517e+06
2,1946.0,Middle East and North Africa,Iran,Economic,Inactive Programs,Unknown - Historical Greenbook,INACTIVE - US Surplus Property,3.300000e+06,3.551368e+07
3,1946.0,Middle East and North Africa,Lebanon,Economic,Inactive Programs,Unknown - Historical Greenbook,INACTIVE - US Surplus Property,1.600000e+06,1.721876e+07
4,1946.0,Middle East and North Africa,Saudi Arabia,Economic,Inactive Programs,Department of the Treasury,INACTIVE - Lend Lease Silver,2.400000e+06,2.582813e+07
...,...,...,...,...,...,...,...,...,...
72632,2019.0,World,World (not specified),Military,Foreign Military Financing,Department of State,Foreign Military Financing Program,1.976689e+06,1.976689e+06
72633,2019.0,World,World (not specified),Military,International Military Education and Training,Department of State,International Military Education and Training,3.635807e+06,3.635807e+06
72634,2019.0,World,World (not specified),Military,Peace Keeping Operations,Department of State,Peace Keeping Operations,1.147500e+08,1.147500e+08
72635,2019.0,World,World (not specified),Military,Other Military Assistance,Department of Defense,"Operation and Maintenance, Air Force",3.000000e+06,3.000000e+06
72636,2019.0,World,World (not specified),Military,Other Military Assistance,Department of Defense,"Operation and Maintenance, Defense-Wide",3.979332e+07,3.979332e+07

Write Python code to output the number of rows in your data frame.

In [60]:
len(df.index)

72637

Compare the new value with the first time you outputted the number of rows above. Is it more, less, or the same?

#### The value is the same as the first time I outputted the number of rows.

Create a subset of the data that matches a specific string in a column. That is, extract all rows of the original data frame that contain a specific string in one of the columns. Save the resulting data frame to a variable. (Add more cells if needed)

In [65]:
specific_string = 'Yemen'

In [69]:
subset_df=df[df['Country']== specific_string]

Output the length of the resulting data frame (the subset of your data for which the conditional was true).

In [71]:
subset_df

,Fiscal Year,Region,Country,Assistance Category,Publication Row,Funding Agency,Funding Account Name,Obligations (Historical Dollars),Obligations (Constant Dollars)
2635,1959.0,Middle East and North Africa,Yemen,Economic,Other USAID Assistance,U.S. Agency for International Development,INACTIVE - USAID Grants,300000.00,2.059707e+06
2636,1959.0,Middle East and North Africa,Yemen,Economic,Public Law 480 Title II Grants,Department of Agriculture,Public Law 480 Title II Grants,4800000.00,3.295531e+07
3045,1960.0,Middle East and North Africa,Yemen,Economic,Other USAID Assistance,U.S. Agency for International Development,INACTIVE - USAID Grants,3000000.00,2.031186e+07
3046,1960.0,Middle East and North Africa,Yemen,Economic,Public Law 480 Title II Grants,Department of Agriculture,Public Law 480 Title II Grants,2600000.00,1.760361e+07
3468,1961.0,Middle East and North Africa,Yemen,Economic,Other USAID Assistance,U.S. Agency for International Development,INACTIVE - USAID Grants,4000000.00,2.672846e+07
...,...,...,...,...,...,...,...,...,...
70299,2019.0,Middle East and North Africa,Yemen,Economic,"Nonproliferation, Anti-Terrorism, Demining & R...",Department of State,"Nonproliferation, Anti-Terrorism, Demining and...",6479420.50,6.479420e+06
70300,2019.0,Middle East and North Africa,Yemen,Economic,Other State Assistance,Department of State,"National Endowment for Democracy, Department o...",891714.00,8.917140e+05
70301,2019.0,Middle East and North Africa,Yemen,Economic,Department of Health and Human Services,Department of Health and Human Services,"CDC-Wide Activities and Program Support, Cente...",-95478.37,-9.547837e+04
70302,2019.0,Middle East and North Africa,Yemen,Military,Foreign Military Financing,Department of State,Foreign Military Financing Program,919009.36,9.190094e+05
70303,2019.0,Middle East and North Africa,Yemen,Military,Other Military Assistance,Department of Defense,"Operation and Maintenance, Defense-Wide",17002.97,1.700297e+04

Output the first ten rows of your data set, the last ten rows of your data set, and a random ten rows of your data set (a sample of your data).

In [78]:
df.iloc[0:10]

,Fiscal Year,Region,Country,Assistance Category,Publication Row,Funding Agency,Funding Account Name,Obligations (Historical Dollars),Obligations (Constant Dollars)
0,1946.0,Middle East and North Africa,Egypt,Economic,Inactive Programs,Unknown - Historical Greenbook,INACTIVE - US Surplus Property,9300000.0,1.000840e+08
1,1946.0,Middle East and North Africa,Egypt,Economic,Inactive Programs,Unknown - Historical Greenbook,INACTIVE - UN Relif and Rehab Agency (UNRRA),300000.0,3.228517e+06
2,1946.0,Middle East and North Africa,Iran,Economic,Inactive Programs,Unknown - Historical Greenbook,INACTIVE - US Surplus Property,3300000.0,3.551368e+07
3,1946.0,Middle East and North Africa,Lebanon,Economic,Inactive Programs,Unknown - Historical Greenbook,INACTIVE - US Surplus Property,1600000.0,1.721876e+07
4,1946.0,Middle East and North Africa,Saudi Arabia,Economic,Inactive Programs,Department of the Treasury,INACTIVE - Lend Lease Silver,2400000.0,2.582813e+07
5,1946.0,Middle East and North Africa,Saudi Arabia,Economic,Inactive Programs,Unknown - Historical Greenbook,INACTIVE - US Surplus Property,1900000.0,2.044727e+07
6,1946.0,Sub-Saharan Africa,Ethiopia,Economic,Inactive Programs,Unknown - Historical Greenbook,INACTIVE - US Surplus Property,400000.0,4.304689e+06
7,1946.0,Sub-Saharan Africa,Liberia,Economic,Inactive Programs,Department of the Treasury,INACTIVE - Lend Lease Silver,6800000.0,7.317971e+07
8,1946.0,Latin America and Caribbean,Argentina,Economic,Inactive Programs,Unknown - Historical Greenbook,INACTIVE - Technical Assistance,1000.0,1.076172e+04
9,1946.0,Latin America and Caribbean,Bolivia,Economic,Inactive Programs,Unknown - Historical Greenbook,INACTIVE - Institute of American Affairs (IAA),400000.0,4.304689e+06

In [80]:
df.iloc[72626:72636]

,Fiscal Year,Region,Country,Assistance Category,Publication Row,Funding Agency,Funding Account Name,Obligations (Historical Dollars),Obligations (Constant Dollars)
72626,2019.0,World,World (not specified),Economic,Department of the Treasury,Department of the Treasury,Contribution to the International Fund for Agr...,3.000000e+07,3.000000e+07
72627,2019.0,World,World (not specified),Economic,Department of the Treasury,Department of the Treasury,International Affairs Technical Assistance,9.947131e+06,9.947131e+06
72628,2019.0,World,World (not specified),Economic,Environmental Protection Agency,Environmental Protection Agency,"Environmental Programs and Management, Environ...",4.009400e+07,4.009400e+07
72629,2019.0,World,World (not specified),Economic,Peace Corps,Peace Corps,Peace Corps,2.654432e+08,2.654432e+08
72630,2019.0,World,World (not specified),Economic,Trade and Development Agency,Trade and Development Agency,Trade and Development Agency,2.413109e+06,2.413109e+06
72631,2019.0,World,World (not specified),Military,Cooperative Threat Reduction,Department of Defense,"Cooperative Threat Reduction Account, Defense",2.021600e+07,2.021600e+07
72632,2019.0,World,World (not specified),Military,Foreign Military Financing,Department of State,Foreign Military Financing Program,1.976689e+06,1.976689e+06
72633,2019.0,World,World (not specified),Military,International Military Education and Training,Department of State,International Military Education and Training,3.635807e+06,3.635807e+06
72634,2019.0,World,World (not specified),Military,Peace Keeping Operations,Department of State,Peace Keeping Operations,1.147500e+08,1.147500e+08
72635,2019.0,World,World (not specified),Military,Other Military Assistance,Department of Defense,"Operation and Maintenance, Air Force",3.000000e+06,3.000000e+06

In [84]:
random_sample=df.sample(n=10)

In [86]:
random_sample

,Fiscal Year,Region,Country,Assistance Category,Publication Row,Funding Agency,Funding Account Name,Obligations (Historical Dollars),Obligations (Constant Dollars)
6908,1967.0,Sub-Saharan Africa,Seychelles,Economic,Public Law 480 Title II Grants,Department of Agriculture,Public Law 480 Title II Grants,1.000000e+03,6.030027e+03
66972,2017.0,Central Asia,Armenia,Economic,Refugee and Migration,Department of State,"Migration and Refugee Assistance, Department o...",4.050000e+05,4.224682e+05
24911,1998.0,Central Asia,Eurasia (not specified),Economic,Other USAID Assistance,U.S. Agency for International Development,INACTIVE - USAID Grants,3.075660e+08,4.583736e+08
14544,1982.0,World,World (not specified),Economic,Department of the Treasury,Department of the Treasury,Contribution to the African Development Fund,5.833300e+07,1.345392e+08
66407,2017.0,Latin America and Caribbean,Peru,Economic,Democracy Fund,Department of State,"Democracy Fund, Department of State",3.121710e+05,3.256354e+05
72370,2019.0,Eastern Europe,Bosnia & Herzegovina,Economic,Other USAID Assistance,U.S. Agency for International Development,"Development Credit Authority, United States",7.689686e+05,7.689686e+05
46189,2010.0,Sub-Saharan Africa,Mozambique,Economic,Other State Assistance,Department of State,Global HIV/AIDs Initiative,4.081902e+06,4.770845e+06
34039,2005.0,Sub-Saharan Africa,Burkina Faso,Economic,Millennium Challenge Corporation,Millennium Challenge Corporation,Millennium Challenge Corporation,2.300495e+04,2.968261e+04
44222,2009.0,Latin America and Caribbean,Nicaragua,Economic,Development Assistance,U.S. Agency for International Development,Development Assistance,1.751020e+07,2.064148e+07
21326,1994.0,Sub-Saharan Africa,Congo (Brazzaville),Economic,Other USAID Assistance,U.S. Agency for International Development,INACTIVE - USAID Grants,8.830000e+05,1.410943e+06

## Bonus

You may want to refer to the [Pandas Cheat Sheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf).

Sort your data frame by a particular column and output the result.

In [88]:
df.sort_values ('Country')

,Fiscal Year,Region,Country,Assistance Category,Publication Row,Funding Agency,Funding Account Name,Obligations (Historical Dollars),Obligations (Constant Dollars)
12546,1978.0,Asia,Afghanistan,Economic,Public Law 480 Title II Grants,Department of Agriculture,Public Law 480 Title II Grants,642000.00,2.043570e+06
33055,2004.0,Asia,Afghanistan,Economic,Transition Initiatives,U.S. Agency for International Development,"Transition Initiatives, International Assistan...",7827300.08,1.040740e+07
33056,2004.0,Asia,Afghanistan,Economic,Other USAID Assistance,U.S. Agency for International Development,"Capital Investment Fund, United States",422500.00,5.617681e+05
33057,2004.0,Asia,Afghanistan,Economic,Other USAID Assistance,U.S. Agency for International Development,Operating Expenses of USAID,9013876.18,1.198511e+07
33058,2004.0,Asia,Afghanistan,Economic,Other USAID Assistance,U.S. Agency for International Development,Assistance for the Independent States of the F...,5000000.00,6.648144e+06
...,...,...,...,...,...,...,...,...,...
38947,2007.0,Sub-Saharan Africa,Zimbabwe,Economic,Other USAID Assistance,U.S. Agency for International Development,Operating Expenses of USAID,2168566.13,2.639361e+06
38948,2007.0,Sub-Saharan Africa,Zimbabwe,Economic,Other USAID Assistance,U.S. Agency for International Development,"Sub-Saharan Africa, Development Assistance",1957163.99,2.382063e+06
38949,2007.0,Sub-Saharan Africa,Zimbabwe,Economic,Other USAID Assistance,U.S. Agency for International Development,"Child Survival and Health Programs Fund, Unite...",15477900.20,1.883815e+07
25376,1999.0,Sub-Saharan Africa,Zimbabwe,Economic,Economic Support Fund/Security Support Assistance,U.S. Agency for International Development,Economic Support Fund,500000.00,7.357059e+05
30819,2003.0,Sub-Saharan Africa,Zimbabwe,Economic,African Development Foundation,African Development Foundation,African Development Foundation,501970.00,6.834328e+05

Pick a column in your data set with numeric data (integers or floats). Output the mean (average) and median of that column.

In [104]:
dollar_average = df['Obligations (Constant Dollars)'].mean()

In [106]:
dollar_average

38775130.59329926

In [108]:
dollar_median = df['Obligations (Constant Dollars)'].median()

In [112]:
dollar_median

1409003.5597484282