In [37]:
# We imported the pandas library

In [1]:
import pandas as pd

- First we create a 'student_data' variable
- then we create a 'column' variable
- lastly we create the 'students' database

In [ ]:
student_data = [[1,15],[2,11],[3,11],[4,20]]

In [5]:
type(student_data)

list

In [23]:
columns = ['Student ID','Age']

In [15]:
type(columns)

list

In [25]:
students = pd.DataFrame(data=student_data, columns=columns)

In [58]:
students

   Student ID  Age
0           1   15
1           2   11
2           3   11
3           4   20

## We're now going to count how many rows and columns our dataset has

In [60]:
rows = len(students) #len is a function that returns
                      #the length of what's inside

In [62]:
print(f"the students dataset has {rows} rows")

the students dataset has 4 rows

In [64]:
type(students)

pandas.core.frame.DataFrame

In [70]:
student_columns=len(students.columns)

In [72]:
print(f"The students dataset has {student_columns} columns")

The students dataset has 2 columns

## Checkpoint
2. We imported Pandas
3. We created a 'students' dataset
4. we counted how man rows and columns are in the 'students' dataset